body{
    background-image: url("cocktails.jpg"), linear-gradient(black, white);
    font-family: monospace;
    font-size: 20px;
    background-size: 100%;
    color: snow;
    text-shadow:
        0.05em 0 black,
        0 0.05em black,
        -0.05em 0 black,
        0 -0.05em black,
        -0.05em -0.05em black,
        -0.05em 0.05em black,
        0.05em -0.05em black,
        0.05em 0.05em black;
}

.Navbar{
    background-color: black;
    position: fixed;
}


ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Lobster, monospace;
    color: rgb(177, 174, 170);
    display: flex;
}

li{
    flex: 1;
}

button{
    width: 130px;
    font-size: 25px;
    text-align: center;
    margin: 10px;
    padding: 10px;
    background-color: #000;
    border-radius: 20px;
    font-family: Lobster, monospace;
    color: snow;
    text-shadow:
        0.05em 0 black,
        0 0.05em black,
        -0.05em 0 black,
        0 -0.05em black,
        -0.05em -0.05em black,
        -0.05em 0.05em black,
        0.05em -0.05em black,
        0.05em 0.05em black;
    flex: 1;
}

button:hover{
    cursor: pointer;
}

button:active{
    transform: translateY(4px);
}

h1{
    color: snow;
    font-family: Lobster;
    text-align: center;
    font-size: 50px;
}

img{
    width: 350px;
    border-radius: 20px;
    border-style: groove;
    border-width: 5px;
    border-color: rgb(177, 174, 170);
    margin: 0 15px;
    display: flex;
}

.Drinks{
    display: flex;
}

.content{
    margin: 0 5%
}